@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/Content/Scripts/Lib/ol/ol-debug.js"></script>
<script type="text/javascript" src="~/Content/Scripts/Lib/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="~/Content/Scripts/Lib/ko/knockout-3.2.0.js"></script>
<script type="text/javascript" src="~/Content/Scripts/core/api.js"></script>
<script type="text/javascript" src="~/Content/Scripts/app/model/skillset.js"></script>
<script  type="text/javascript" src="~/Content/Scripts/app/viewmodel/index.js"></script>
<link href="~/Content/Scripts/Lib/ol/ol.css" rel="stylesheet" />
<body>
    <div id="container">
        <div style="height: 100px;">
            <select data-bind="options: skillsets, optionsText: function (item) { if (item != null) return item.ln; }, value: selectedSkillset"></select>
        </div>
        <div style="width: 100%; height: 400px; vertical-align: central;" id="map"></div>
    </div>
</body>
<script defer="defer" type="text/javascript">
    $(document).ready(function () {
        //var map = new OpenLayers.Map('map');
        //var wms = new OpenLayers.Layer.WMS("OpenLayers WMS",
        //    "http://vmap0.tiles.osgeo.org/wms/vmap0", { layers: 'basic' });
        //map.addLayer(wms);
        //map.zoomToMaxExtent();
        var layers = [];
        var vectorLayer;

        var iconStyle = new ol.style.Style({
            image: new ol.style.Icon(
                ({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    opacity: 0.75,
                    src: 'http://ol3js.org/en/master/examples/data/icon.png'
                }))
        });


        layers.push(new ol.layer.Tile({
            visible: false,
            preload: Infinity,
            source: new ol.source.BingMaps({
                key: 'Ak-dzM4wZjSqTlzveKz5u0d4IQ4bRzVI309GxmkgSVr1ewS6iPSrOvOKhA-CJlm3',
                imagerySet: 'Aerial'
            })
        }));


        var map = new ol.Map({
            target: 'map',
            renderer: 'canvas',
            layers: layers,
            view:
                new ol.View({
                    center: ol.proj.transform([77.41, 13.82], 'EPSG:4326', 'EPSG:3857'),
                    minZoom: 2,
                    maxZoom:8,
                    zoom: 4
                })
        });
        map.addControl(new ol.control.ZoomSlider());
        layers[0].setVisible(true);
        var vm = new ARM.ViewModel.Index(map);
        ko.applyBindings(vm, $("#container")[0]);
        vm.pull();
    });
</script>
